@import "src/utils/style/vars";

.dropdown {
	width: inherit;
	height: fit-content;
	box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
	box-slizing: border-box;
	
	
	&__label-wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
	}
	
	&__input-wrapper {
		background: #ffffff;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		width: inherit;
		width: inherit;
		height: 44px;
		padding-right: 9px;
		padding-left: 14px;
		color: rgba(31, 32, 65, 0.75);
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		
		
		&:hover {
			animation-name: hover-focus;
			animation-duration: 300ms;
			animation-fill-mode: forwards;
		}
		
		&:focus {
			animation-name: hover-focus;
			animation-duration: 300ms;
			animation-fill-mode: forwards;
		}
		
		&:focus-visible {
			animation-name: hover-focus;
			animation-duration: 300ms;
			outline: 0;
			animation-fill-mode: forwards;
		}
		
		@keyframes hover-focus {
			100% {
				border: 1px solid rgba(31, 32, 65, 0.5);
			}
			50% {
				border: 1px solid rgba(31, 32, 65, 0.35);
			}
			0% {
				border: 1px solid rgba(31, 32, 65, 0.25);
			}
		}
		
		&_static-style_focused {
			border: 1px solid rgba(31, 32, 65, 0.5);
			animation-name: hover-focus;
			animation-duration: unset;
			animation-fill-mode: unset;
		}
		
	}
	
	&__input {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		line-height: 18px;
	}
	
	&__button_arrow {
		font-family: Materialicons;
		font-size: 24px;
		font-weight: 400;
		font-style: normal;
		
		line-height: 1;
		display: inline-block;
		white-space: nowrap;
		letter-spacing: normal;
		text-transform: none;
		word-wrap: normal;
		color: $dark-shade-50;
		direction: ltr;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-feature-settings: "liga";
		font-feature-settings: "liga";
		
		&:hover {
			animation-name: arrow-hover-focus;
			animation-duration: 300ms;
			animation-fill-mode: forwards;
		}
		
		&:focus {
			animation-name: arrow-hover-focus;
			animation-duration: 300ms;
			animation-fill-mode: forwards;
		}
		
		&:focus-visible {
			animation-name: arrow-hover-focus;
			animation-duration: 300ms;
			outline: 0;
			animation-fill-mode: forwards;
		}
		
		@keyframes arrow-hover-focus {
			100% {
				color: rgba(31, 32, 65, 0.75);
			}
			50% {
				color: rgba(31, 32, 65, 0.75);
			}
			0% {
				color: rgba(31, 32, 65, 0.75);
			}
		}
		
	}
}

.dropbox-group-wrapper {
	background: #ffffff;
	width: 320px;
	height: 159px;
	margin: 0;
	padding: 5px 6px 13px 14px;
	border: 1px solid rgba(31, 32, 65, 0.5);
	border-top: 0px;
	outline: none;
	box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
	border-radius: 0px 0px 4px 4px;
}

.input-pseudo__wrapper {
	background: #ffffff;
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	display: flex;
	color: $dark-shade-100;
}

.input-pseudo__wrapper {
	&::before, &::after {
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		line-height: 22px;
		width: 30px;
		height: 30px;
		padding-right: 6px;
		padding-left: 6px;
		color: rgba(31, 32, 65, 0.5);
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 22px;
	}
	
	&::before {
		content: "-";
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		line-height: 22px;
		opacity: 0.38;
	}
	
	&::after {
		content: "+";
		text-align: center;
		vertical-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 3px;
	}
}

.numerical-input {
	background: #ffffff;
	width: 32px;
	padding: 0;
	cursor: default;
	text-align: center;
	color: #1f2041;
	border: none;
	
	font-family: "Montserrat";
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	
	&:focus-visible {
		outline: none;
	}
}

.im-caret {
	-moz-animation: 0;
	-ms-animation: 0;
	-o-animation: 0;
	-webkit-animation: 0;
	animation: 0;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
}


.input-group__wrapper {
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
