mixin color-palette(args = { colors: [{ name: "", title: "", rgb: ""}]})
  -
    let colorPaletteRectClass = "color-palette__item-rect";

  ul.color-palette
    each item in args.colors
      li.section.color-palette__item
        .color-palette__item-wrap
          div(
            class=colorPaletteRectClass + ` color-palette__item-rect_colour_${item.name}`
          )
          .color-palette__item-content
            h2.color-palette__item-title= `${item.title}`
            p.color-palette__item-description= `${item.rgb}`
