mixin color-palette(args = { colors: [{ name: '', title: '', rgb: ''}]})
  -
    let colorPaletteRectClass = 'color-palette__item-rectangle';

  ul.color-palette__ul
    include ../text/text
    each item in args.colors
      li.section.color-palette__item
        .color-palette__item-wrapper
          div(
            class=colorPaletteRectClass + ` color-palette__item-rectangle_with-color_${item.name}`
          )
          .color-palette__item-content
            .color-palette__item-title
              +text({ withTag: 'h2', withLineHeight: '28px', withContent: `${item.title}` })
            .color-palette__item-description
              +text({ withTag: 'h2', withLineHeight: '28px', withWeight: 'normal', withContent: `${item.rgb}` })
