{
	"plugins": ["./node_modules/plugin-pug"],
	"pugPrintWidth": 80,
	"pugUseTabs": "true",
	"pugSemi": "true",
	"pugBracketSpacing": "true",
	"pugTabWidth": 4,
	"pugSingleQuote": "true",
	"pugAttributeSeparator": "none",
	"pugSortAttributes": "asc",
	"pugWrapAttributesThreshold": 3,
	"pugEmptyAttributes": "all",
	"pugArrowParens": "always",
	"pugClassNotation": "literal",
	"pugIdNotation": "literal",
	"pugClassLocation": "before-attributes",
	"pugExplicitDiv": false,
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}
