{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-hudochenkov/full",
    "stylelint-prettier/recommended"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "export"
        ]
      }
    ],
    "order/properties-alphabetical-order": null,
    "indentation": 2,
    "max-nesting-depth": 2,
    "selector-max-type": 1,
    "at-rule-no-unknown": null,
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": [
          "attribute"
        ]
      }
    ],
    "scss/at-extend-no-missing-placeholder": null,
    "font-family-no-missing-generic-family-keyword": null,
    "scss/dollar-variable-colon-newline-after": null
  }
}