@font-face {
  font-weight: normal;
  font-family: "Montserrat";
  font-style: normal;
  src: url("montserrat/montserrat-regular.woff2") format("woff2"),
    url("montserrat/montserrat-regular.woff") format("woff"),
    url("montserrat/montserrat-regular.svg#webfont") format("svg");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url("montserrat/montserrat-bold.woff2") format("woff2"),
    url("montserrat/montserrat-bold.woff") format("woff"),
    url("montserrat/montserrat-bold.svg#webfont") format("svg");
}
