@import './src/utils/style/vars';

.js-counter {
	display: flex;
	flex-direction: row;
	gap: 30%;
	align-items: center;
	justify-content: space-between;

	&__decrement-button,
	&__increment-button {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 30px;
		height: 30px;
		padding-right: 6px;
		padding-left: 6px;
		border: 1px solid rgb(31 32 65 / 0.25);
		border-radius: 22px;
		color: rgb(31 32 65 / 0.5);
		font-weight: normal;
		font-style: normal;
		font-size: 18px;
		line-height: 22px;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&[disabled] {
			opacity: 0.38;
			cursor: not-allowed;
		}
	}

	&__increment-button {
		padding-top: 3px;
	}

	&__input {
		display: flex;
		color: $dark-shade-100;
		font-weight: bold;
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		line-height: 15px;
		-moz-appearance: none;
		&_hidden {
			width: 32px;
			padding-bottom: 1px;
			border: none;
			background: transparent;
			color: #1f2041;
			font-weight: bold;
			font-size: 12px;
			font-family: 'Montserrat', sans-serif;
			line-height: 15px;
			text-align: center;
			cursor: default;
			appearance: textfield;
			-moz-appearance: textfield;

			&:focus-visible {
				outline: none;
			}
		}
	}
}
input::-webkit-inner-spin-button {
	display: none;
	appearance: none;
	margin: 0;
}

input::-webkit-outer-spin-button {
	display: none;
	margin: 0;
	appearance: none;
}
