$primaryColor: aqua;
$secondaryColor: darkgray;

html {
  font-family: generalFont;
}

h1 {
  color: $primaryColor;
}

.container {
  &__subtitle {
    color: $secondaryColor;
    display: block;
    height: 140px;
    background: url("../images/webpack.svg");
    display: flex;
    justify-content: center;
  }
}