@import "src/utils/style/vars";

.typography {
	width: 444px;
	height: 322px;
	border-spacing: 0;
}

.typography__item_h1 {
	vertical-align: top;
	height: 36px;
}

.typography__title_h1 {
	text-indent: 9px;
}

.typography__descr_h1 {
	padding-left: 29px;
	text-align: start;
}

.typography__item_h2 {
	height: 124px;
}

.typography__title_h2 {
	text-indent: 9px;
}

.typography__descr_h2 {
	vertical-align: middle;
	padding-top: 24px;
	padding-left: 28px;
	text-align: start;
}

.typography__item_h3 {
	vertical-align: bottom;
}

.typography__title_h3 {
	text-indent: 19px;
}

.typography__descr_h3 {
	text-align: start;
	text-indent: 27px;
}

.typography__item_body {
	height: 96px;
}

.typography__title_body {
	padding-top: 22px;
}

.typography__descr_body {
	vertical-align: bottom;
	padding-right: 63px;
	padding-left: 29px;
	text-align: start;
}
