@import "src/utils/style/vars";

p {
  margin-block: 0;
}

.typography__frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 454px;
  height: 322px;
}

.typography__item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  display: flex;
}

.typography__item_h1 {
  font-size: 24px;
  line-height: normal;
}

.typography__title_h1 {
  order: 0;
  width: 50px;
  text-indent: 8px;
  color: $dark-shade-25;
}

.typography__descr_h1 {
  font-weight: bold;
  order: 1;
  padding-left: 29px;
  color: $dark-shade-100;
}

.typography__item_h2 {
  font-size: 19px;
  line-height: normal;
  order: 1;
  width: 425.8px; // text-wrap
}

.typography__title_h2 {
  flex-basis: 69px; // text-wrap
  order: 0;
  padding-top: 4px;
  padding-left: 10.6px;
  color: $dark-shade-25;
}

.typography__descr_h2 {
  font-weight: bold;
  order: 1;
  width: 373px;
  padding-top: 5px;
  color: $dark-shade-100;
}

.typography__item_h3 {
  font-size: 12px;
  line-height: normal;
  flex-basis: 12px;
  order: 2;
  text-transform: uppercase;
}

.typography__title_h3 {
  order: 0;
  width: 37px;
  padding-top: 4px;
  text-align: right;
  color: $dark-shade-25;
}

.typography__descr_h3 {
  font-weight: bold;
  order: 1;
  padding-top: 5px;
  text-indent: 29px;
  text-transform: uppercase;
}

.typography__item_body {
  flex-basis: 51px;
  order: 3;
  width: 384px;
}

.typography__title_body {
  line-height: 171%;
  order: 0;
  width: 95px;
  color: rgb(31 32 65 / 25%);
}

.typography__descr_body {
  line-height: 173%;
  order: 1;
  width: 450px;
  color: rgb(31 32 65 / 75%);
}
