@import "src/utils/style/vars";


table[class="typography__frame"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 454px;
  height: 400px;
}

tr, th.typography__item {
  display: flex;
  height: 81px;
  justify-items: end;
  //  align-items: baseline;
  //}
  //
  th.typography__title_h1 {
    width: 86px;
    text-indent: 7.6px;
  }

  th.typography__descr_h1 {
    text-align: start;
  }

  th.typography__title_h2 {
    align-items: center;
    justify-content: center;
    width: 64px;
    text-indent: -18px;
  }

  th.typography__descr_h2 {
    width: 373px;
    text-align: start;
    padding-top: 29px;
  }


  th.typography__title_h3 {
    width: 37px;
    padding-top: 4px;
    text-align: right;
  }

  th.typography__descr_h3 {
    padding-top: 5px;
    text-indent: 29px;
  }

  th.typography__item_body {
    flex-basis: 51px;
    width: 384px;
    height: 100px;
  }

  th.typography__title_body {
    order: 0;
    width: 95px;
  }

  th.typography__descr_body {
    width: 450px;
  }
}
