mixin typography(options)
  -
    let opt = ""
    opt = options

  table.typography
    tbody.typography__frame
      tr.typography__item_h1
        th.typography__title_h1.typography__item_h1
          include ../text/text
          +text({
            tag: "h1",
            color: "dark-shade-25",
            weight: "normal",
            transform: "in-uppercase",
            content: "H1",
          })
        th.typography__descr_h1.typography__item_h1
          +text({tag: "h1", content: "This one is the sub-section or widget title"})
      tr.typography__item_h2
        th.typography__title_h2
          +text({
            tag: "h2",
            color: "dark-shade-25",
            weight: "normal",
            transform: "in-uppercase",
            content: "h2"
          })
        th.typography__descr_h2
          +text({tag: "h2", content: "Next one is the item title inside widgets"})
      tr.typography__item_h3
        th.typography__title_h3
          +text({
            tag: "h3",
            color: "dark-shade-25",
            weight: "normal",
            transform: "in-uppercase",
            content: "h3"
          })
        th.typography__descr_h3
          +text({tag: "h3", content: "This is a label or CTA text"})
      tr.typography__item_body
        th.typography__title_body
          +text({
            tag: "p",
            color: "dark-shade-25",
            weight: "normal",
            content: "Body"
          })
        th.typography__descr_body
          +text({
            tag: "p",
            content: "This is the body text which is used for most of the design, like paragraphs, lists, etc."
          })