mixin logo(options)
	-
		let logoAlt = "Logo"
		if (options.alt) logoAlt += options.alt
		let logoClassName = "logo"
		logoClassName += options.isGrey ? "-grey" : ""

	img(src=`./assets/img/${logoClassName}.svg`, alt=`${logoAlt} ${logoClassName}`)