mixin logo(options)
	-
		let logoAlt = "Logo"
		if (options.alt) logoAlt += options.alt
		let logoFileName = "logo"
		logoFileName += options.isGrey ? "-grey" : ""

	img(src=`./assets/img/${logoFileName}.svg`, alt=`${logoAlt} ${logoFileName}`)