@import "src/utils/style/vars";

ul.palette {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: 610px;
  justify-content: space-between;
}

.palette {
  display: flex;
  flex-direction: column;
  height: 610px;
  width: 281px;
  justify-content: space-between;
}

.palette__item {
  list-style: none;

  &-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &-rect {
    height: 70px;
    width: 70px;
    margin-right: 40px;
    border-radius: 6px;

    &_color {
      background-color: $DarkShade100;

      &-max {
        background-color: $DarkShade100;
      }

      &-medium {
        background-color: $DarkShade75;
      }

      &-middle {
        background-color: $DarkShade50;
      }

      &-light {
        background-color: $DarkShade25;
      }

      &-min {
        background-color: $DarkShade5;
      }

      &-purple {
        background-color: $Purple;
      }

      &-green {
        background-color: $Green;
      }
    }
  }

  &-title {
    margin: 0;
    padding-top: 1px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0;
  }

  &-description {
    margin: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
  }
}
