@import "src/utils/style/vars";

ul.palette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 610px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.palette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 281px;
  height: 610px;
}

.palette__item {
  list-style: none;

  &-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &-rect {
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 6px;

    &_color {
      background-color: $dark-shade-100;

      &-max {
        background-color: $dark-shade-100;
      }

      &-medium {
        background-color: $dark-shade-75;
      }

      &-middle {
        background-color: $dark-shade-50;
      }

      &-light {
        background-color: $dark-shade-25;
      }

      &-min {
        background-color: $dark-shade-5;
      }

      &-purple {
        background-color: $purple;
      }

      &-green {
        background-color: $green;
      }
    }
  }

  &-title {
    font-size: 19px;
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
    margin: 0;
    padding-top: 1px;
    letter-spacing: 0;
  }

  &-description {
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
  }
}
