@import "src/utils/style/vars";


.palette__item {

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__rect {

    height: 70px;
    width: 70px;
    margin-right: 40px;
    border-radius: 6px;

    &_color {

      background-color: $DarkShade100;

      &-full {
        background-color: $DarkShade100;
      }

      &-medium {
        background-color: $DarkShade75;
      }

      &-middle {
        background-color: $DarkShade50;
      }

      &-light {
        background-color: $DarkShade25;
      }

      &-superlight {
        background-color: $DarkShade5;
      }

      &-primary {
        background-color: $Purple;
      }

      &-secondary {
        background-color: $Green;
      }
    }
  }

  &__title {
    margin: 0;
    padding-top: 1px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0;
  }

  &__description {
    margin: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
  }
}

