@import "vars";

html {
  box-sizing: border-box;
  font-size: 14px;
  background-color: $BackgroundColorBody;
  color: $DarkShade100;
  height: 100vh;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
  background-color: $BackgroundColorHTML;
  font-family: $font-family;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}