@import "colors";


html {
  box-sizing: border-box;
  font-size: 14px;
  color: $DarkShade100;
  background-color: $BackgroundColorHTML;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}