@import 'vars';

html {
	font-family: $font-family;
	font-size: 14px;
	box-sizing: border-box;
	height: 100vh;
	color: $dark-shade-100;
	background-color: $background-color-body;
}

body {
	max-width: 1440px;
	min-height: 100%;
	margin: 0 auto;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
