%for-ui-kit-body {
  min-width: 1440px;
  background-color: #ffffff;
  max-width: 1440px;
  min-height: 100vh;
}

%for-ui-kit-html {
  display: flex;
  justify-content: space-around;
  min-width: 100vh;
  line-height: 1;
}