$background-color-html: rgb(255 255 255);
$background-color-body: rgb(244 244 246);
$dark-shade-100: rgb(31 32 65);
$dark-shade-75: rgba(31 32 65 / 75%);
$dark-shade-50: rgba(31 32 65 / 50%);
$dark-shade-25: rgba(31 32 65 / 25%);
$dark-shade-5: rgb(134 137 245 / 0.05);
$purple: rgba(188 156 255 / 100%);
$green: rgba(111 207 151 / 100%);
$font-family: montserrat, sans-serif;
