include components/head/head
include components/dropdown/dropdown
include components/counter/counter

doctype html
html(lang='ru')
	+head('UI-KIT - TOXIN', 'Frontend компоненты в фирменном стиле TOXIN', 'фронтенд, компоненты, дизайн, стиль, toxin')
	body.ui-kit__body
		main.ui-kit__main
			section.sandbox
				
				container.sandbox__item-wrapper
					img.sandbox__logo(src="./assets/img/logo.svg", alt="Logo")
					.sandbox__item
						.sandbox__dropdown-wrapper
							+dropdown('guestscounter', 'dropdown', 'counter', 'Сколько гостей', 'listbox', 'guests', '', true)
								options
									+counter('взрослые', 'взрослые', 'взрослые', 'guests', 0, 0, 10)
								options
									+counter('дети', 'дети', 'дети', 'guests', 0, 0, 10)
								options
									+counter('младенцы', 'младенцы', 'младенцы', 'guests', 0, 0, 10)
