@import "utils/style/vars";


.form-elements {
	&__title {
		display: flex;
		align-items: flex-end;
		height: 50px;
		background-color: $background-color-body;
	}
	
	&__logo-wrapper {
		display: inline-block;
		margin: 30px 0 0 30px;
	}
	
	&__body {
		height: 1903px;
		background-color: $background-color-html;
	}
	
	&__main {
		padding: 62px 141px 131px 140px;
	}
	
	&__text-field-wrapper {
		width: 320px;
		left: 141px;
		top: 143px;
	}
	
	&__text-field_with-focus-wrapper {
		width: 320px;
		left: 141px;
		top: 227px;
		margin-top: 20px;
	}
	
	&__dropdown_default-wrapper {
		width: 320px;
		left: 141px;
		top: 311px;
		margin-top: 20px;
	}
	
	&__text-field_with-mask-wrapper {
		width: 320px;
		left: 141px;
		top: 395px;
		margin-top: 23px;
	}
}

