include components/head/head
include components/logo/logo
include components/text/text
include components/text-field/text-field
include components/dropdown/dropdown
include components/counter/counter

doctype html
html(lang='ru')
	+head('UI-KIT - TOXIN', 'Frontend компоненты в фирменном стиле TOXIN', 'фронтенд, компоненты, дизайн, стиль, toxin')
	body.ui-kit__body
		main.ui-kit__main
			include components/color-and-type/color-and-type
			//- +color-and-type()
			section.form-elements
				.form-elements__body
					.form-elements__header
						.form-elements__title
							+text({
								withTag: "small",
								withContent: "Form Elements"
							})
						.form-elements__logo-wrapper
							+logo({
								isGrey: true,
								alt: "Toxin logo"
							})
					.form-elements__main
						.form-elements__text-field-wrapper
							+text-field({
								withType: "text",
								withLabel: "text field",
								withSublabel: "default",
								withName: "text-field",
								withId: "text-field",
								withPlaceholder: "Email",
							})
						.form-elements__text-field_with-focus-wrapper
							+text-field({
								withType: "text",
								withLabel: "text field",
								withSublabel: "Hover / Focus",
								withName: "text-field-focus-hover",
								withId: "text-field-focus-hover",
								withPlaceholder: "Email",
								withValue: "This is pretty awesome",
								withFocus: true,
							})
						.form-elements__guest-dropdown_default-wrapper
							+dropdown('zero', 'dropdown', '', 'Сколько гостей', 'listbox', 'guests', '', false, false)
						.form-elements__text-field_with-mask-wrapper
							+text-field({
								withType: "text",
								withLabel: "masked text field",
								withName: "masked-text-field",
								withId: "masked-text-field",
								withPlaceholder: "ДД.ММ.ГГГГ",
								withMask: "ДД.ММ.ГГГГ",
							})
						.form-elements__guest-dropdown_with-zero-values-wrapper
							+dropdown('guestscounter1', 'dropdown', false, 'Сколько гостей', 'listbox', 'guests', '', 3, true)
								+counter('взрослые', 'взрослые', 'взрослые1', 'guests', 0, 0, 10, 'options', 'options')
								+counter('дети', 'дети', 'дети1', 'guests', 0, 0, 10, 'options', 'options')
								+counter('младенцы', 'младенцы', 'младенцы1', 'guests', 0, 0, 10, 'options', 'options')
						.form-elements__guest-dropdown_with-values-wrapper
							+dropdown('guestscounter', 'dropdown', false, 'Сколько гостей', 'listbox', 'guests', '', 3, true)
								+counter('взрослые', 'взрослые', 'взрослые', 'guests', 0, 0, 10, 'options', 'options')
								+counter('дети', 'дети', 'дети', 'guests', 0, 0, 10, 'options', 'options')
								+counter('младенцы', 'младенцы', 'младенцы', 'guests', 0, 0, 10, 'options', 'options')
						.form-elements__date-dropdown_default-wrapper
							+dropdown('date1', 'date dropdown', '', 'ДД.ММ.ГГГГ', 'date', 'date', '', false, false)
						.form-elements__date-dropdown_with-values-wrapper
							+dropdown('date2', 'date dropdown', '', '19.08.2019', 'date', 'date', '', false, false)
						.form-elements__filter-date-dropdown-wrapper
							+dropdown('filter-date', 'filter date dropdown', '', '19 авг - 23 авг', 'date', 'date', '', false, false)
						.form-elements__convenience-dropdown_default-wrapper
							+dropdown('conveniencecounter', 'dropdown', 'default', '2 спальни, 2 кровати...', 'listbox', 'convenience', '', false, false)
						.form-elements__convenience-dropdown_expanded-wrapper
							+dropdown('conveniencecounter1', 'dropdown', 'expanded', '2 спальни, 2 кровати...', 'listbox', 'convenience', '', 3, false)
								+counter('спальни', 'спальни', 'спальни', 'convenience', 0, 0, 10, 'options', 'options')
								+counter('кровати', 'кровати', 'кровати', 'convenience', 0, 0, 10, 'options', 'options')
								+counter('ванные комнаты', 'ванные комнаты', 'ванные комнаты', 'convenience', 0, 0, 10, 'options', 'options')