include components/head/head
include components/logo/logo


doctype html
html(lang='ru')
  +head({
      title: 'UI-Kit',
      description: 'Frontend компоненты в фирменном стиле TOXIN',
      keywords: 'фронтенд, компоненты, дизайн, стиль, toxin'
  })
  body
    .ui-kit__logo__wrap
      +logo({isGrey: true, alt: "Toxin logo"})
    .ui-kit__container
      .ui-kit__wrap
        include components/palette/palette
        +palette({
            colors: [
                {name: "max", title: "Dark Shade 100%", rgb: "#1F2041"},
                {name: "medium", title: "Dark Shade 75%", rgb: "#1F2041"},
                {name: "middle", title: "Dark Shade 50%", rgb: "#1F2041"},
                {name: "light", title: "Dark Shade 25%", rgb: "#1F2041"},
                {name: "min", title: "Dark Shade 5%", rgb: "#1F2041"},
                {name: "purple", title: "Purple", rgb: "#BC9CFF"},
                {name: "green", title: "Green", rgb: "#6FCF97"}]
        })
        include components/typography/typography
        +typ({options: []})