include components/head/head
include components/logo/logo
include components/text/text

doctype html
html(lang='ru')
  +head({ title: "UI-KIT - TOXIN", description: "Frontend компоненты в фирменном стиле TOXIN", keywords: "фронтенд, компоненты, дизайн, стиль, toxin" })
  body.ui-kit__body
    main.ui-kit__main
      section.sandbox
        container.sandbox__item-wrapper
          .sandbox__item
            +text({ withTag: "h1", withContent: "hello world hello world hello world hello world hello world hello world hello world " })
