include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body
        .container
            h1 Привет webpack
            h2.container__subtitle Наш новый тестовый подзаголовок
            +image('angular', 'png')
            +image('webpack', 'svg')
            .block
            .user