main.ui-kit {
  padding-top: 63px;
  padding-bottom: 166px;
  padding-left: 150px;
  padding-right: 150px;
}

.ui-kit {
  &__logo-wrap {
    display: inline-block;
    margin: 30px 0 0 30px;
  }

  &__container {
    position: relative;
    width: 1140px;
    min-width: 320px;
    max-width: 1160px;
    height: 100%;
    margin: 62px auto;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
  }
}
