include components/head/head
include components/logo/logo
include components/text-field/text-field
include components/dropdown/dropdown
include components/counter/counter
include components/input/input

doctype html
html(lang='ru')
	+head({ title: 'UI-KIT - TOXIN', keywords: 'фронтенд, компоненты, дизайн, стиль, toxin', description: 'Frontend компоненты в фирменном стиле TOXIN', })
	body.ui-kit__body
		main.ui-kit__main
			section.sandbox
				container.sandbox__item-wrapper
					.sandbox__item
						.sandbox__dropdown-wrapper
							+dropdown({ withPlaceholder: 'Сколько гостей', withName: 'guests', withLabel: 'dropdown', withId: 'guest', withForm: 'guest', withValue: "Сколько гостей" })