include components/head/head
include components/logo/logo
include components/text/text
include components/text-field/text-field
include components/dropdown/dropdown
include components/counter/counter

doctype html
html(lang='ru')
	+head('UI-KIT - TOXIN', 'Frontend компоненты в фирменном стиле TOXIN', 'фронтенд, компоненты, дизайн, стиль, toxin')
	body.ui-kit__body
		main.ui-kit__main
			include components/color-and-type/color-and-type
			//- +color-and-type()
			section.form-elements
				.form-elements__body
					.form-elements__header
						.form-elements__title
							+text({
								withTag: "small",
								withContent: "Form Elements"
							})
						.form-elements__logo-wrapper
							+logo({
								isGrey: true,
								alt: "Toxin logo"
							})
					.form-elements__main
						.form-elements__text-field-wrapper
							+text-field({
								withType: "text",
								withLabel: "text field",
								withSublabel: "default",
								withName: "text-field",
								withId: "text-field",
								withPlaceholder: "Email",
							})
						.form-elements__text-field_with-focus-wrapper
							+text-field({
								withType: "text",
								withLabel: "text field",
								withSublabel: "Hover / Focus",
								withName: "text-field-focus-hover",
								withId: "text-field-focus-hover",
								withPlaceholder: "Email",
								withValue: "This is pretty awesome",
								withFocus: true,
							})
						.form-elements__dropdown_default-wrapper
							+dropdown('zero', 'dropdown', '', 'Сколько гостей', 'listbox', 'guests', '', false, false)
							+dropdown('guestscounter1', 'dropdown', 'counter', 'Сколько гостей', 'listbox1', 'guests1', '', 3, true)
								+counter('взрослые1', 'взрослые', 'взрослые1', 'guests', 0, 0, 10, 'options', 'options')
								+counter('дети1', 'дети', 'дети1', 'guests', 0, 0, 10, 'options', 'options')
								+counter('младенцы1', 'младенцы', 'младенцы1', 'guests', 0, 0, 10, 'options', 'options')
						.form-elements__text-field_with-mask-wrapper
							+text-field({
								withType: "text",
								withLabel: "masked text field",
								withName: "masked-text-field",
								withId: "masked-text-field",
								withPlaceholder: "ДД.ММ.ГГГГ",
								withMask: "ДД.ММ.ГГГГ",
							})
						.form-elements__guest-dropdown_with-zero-values-wrapper
							+dropdown('guestscounter2', 'dropdown', 'counter', 'Сколько гостей', 'listbox2', 'guests2', '', 3, true)
								+counter('взрослые', 'взрослые', 'взрослые', 'guests', 0, 0, 10, 'options', 'options')
								+counter('дети', 'дети', 'дети', 'guests', 0, 0, 10, 'options', 'options')
								+counter('младенцы', 'младенцы', 'младенцы', 'guests', 0, 0, 10, 'options', 'options')
