@import "./components/palette/palette.scss";

.ui-kit {
  &__logo__wrap {
    display: inline-block;
    margin: 30px 0 0 30px;
  }

  &__container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    min-width: 320px;
    max-width: 1160px;
    padding-left: 10px;
  }

  &__wrap {
    padding-top: 63px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
}
