include ./components/head/head
include ./components/dropdown/dropdown
include ./components/counter/counter

doctype html
html(lang='ru')
	+head('UI-KIT - TOXIN', 'Frontend компоненты в фирменном стиле TOXIN', 'фронтенд, компоненты, дизайн, стиль, toxin')
	body.ui-kit__body
		main.ui-kit__main
			section.sandbox
				container.sandbox__item-wrapper
					.sandbox__logo-wrapper
						img.sandbox__logo(src="./assets/img/logo.svg", alt="Logo")
					.sandbox__item
						.sandbox__dropdown-wrapper
							+dropdown('guestscounter1', 'dropdown', false, 'Сколько гостей', 'listbox', 'guests', '', 3, true)
								+counter('взрослые', 'взрослые', 'взрослые1', 'guests', 0, 0, 10, 'options', 'options')
								+counter('дети', 'дети', 'дети1', 'guests', 0, 0, 10, 'options', 'options')
								+counter('младенцы', 'младенцы', 'младенцы1', 'guests', 0, 0, 10, 'options', 'options')
s

