.text-field {
	width: inherit;
	height: 64px;

	&__label-wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	&__input {
		box-sizing: border-box;
		width: inherit;
		height: 44px;
		border: 1px solid rgb(31 32 65 / 0.25);
		border-radius: 4px;
		color: rgb(31 32 65 / 0.75);
		font-weight: normal;
		font-style: normal;
		font-size: 14px;
		font-family: Montserrat;
		line-height: 18px;
		text-indent: 12px;

		&:hover {
			animation-name: hover-focus;
			animation-duration: 300ms;
			animation-fill-mode: forwards;
		}

		&:focus {
			animation-name: hover-focus;
			animation-duration: 300ms;
			animation-fill-mode: forwards;
		}

		&:focus-visible {
			outline: 0;
			animation-name: hover-focus;
			animation-duration: 300ms;
			animation-fill-mode: forwards;
		}

		&::placeholder {
			color: rgb(31 32 65 / 0.25);
			font-weight: normal;
			font-style: normal;
			font-size: 14px;
			font-family: Montserrat;
			line-height: 18px;
			text-indent: 12px;
		}

		&_with-focus {
			border: 1px solid rgb(31 32 65 / 0.5);
			animation-name: hover-focus;
			animation-duration: unset;
			animation-fill-mode: unset;
		}
	}
}

.im-caret {
	animation: 0;
	animation: 0;
	animation: 0;
	animation: 0;
	animation: 0;
}

@keyframes hover-focus {
	100% {
		border: 1px solid rgb(31 32 65 / 0.5);
	}

	50% {
		border: 1px solid rgb(31 32 65 / 0.35);
	}

	0% {
		border: 1px solid rgb(31 32 65 / 0.25);
	}
}
